<p-card class="card-container" id={{routine?._id}} [header]="routine?.name" [subheader]="routine?.category">
    <ng-template pTemplate="header">
        <img alt={{routine?.name}} src="../../../../public/image/${routine?.category}.jpg" />
    </ng-template>
    <ng-template pTemplate="footer">
        <p>ID: {{routine?._id}}</p>
        <p>Nombre: {{routine?.name}}</p>
        <p>Categoria: {{routine?.category}}</p>
        <p>Franja: {{routine?.applyschedule}}</p>
        <p>Repeticiones: {{routine?.repeat}}</p>
        <p>Productos: {{routine?.products}}</p>
        <p>Pasos a seguir: {{routine?.usesteps}}</p>
        <p>Descripción: {{routine?.description}}</p>
        <p>Fecha: {{routine?.createdAt | date:'dd-LL-yyyy'}}</p>
        <p>Actualización: {{routine?.updatedAt | date:'dd-LL-yyyy'}}</p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Guardar" severity="secondary" class="w-full" styleClass="w-full" />
                <p-button label="Ver más" class="w-full ms-2" styleClass="w-full" />
            </div>
        </ng-template>
    </ng-template>
</p-card>