@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* Estilos del contenedor del producto */
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el contenido horizontalmente */
    text-align: center;
    /* Centra el texto */
    gap: 10px;
    /* Espacio entre elementos */

}

/* Descripción del producto */
.product-description {
    margin-top: 10px;
    /* Espacio entre el título y la descripción */
    margin-bottom: 20px;
    /* Espacio entre la descripción y la imagen */

    position: relative;

    /* Espacio entre la imagen y la descripción */
}

/* Botón de compra */
.buy-button {
    margin-top: 20px;
    /* Espacio entre la descripción y el botón de comprar */
}

/* Estilos generales para input */
input {
    width: 100%;
}

/* Estilos de la imagen del botón */
.image-button {

    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    max-width: 300px;
    height: auto;
    cursor: pointer;
}

.image-button img {

    width: 100%;
    height: auto;
    /* Mantiene la proporción original de la imagen */
    object-fit: cover;
}

.image-button i {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos al hacer hover sobre la imagen */
.image-button:hover i {
    color: #000;
}

.image-button:hover img {
    opacity: 0.5;
}

.image-button:hover .image-button-text {
    display: block;
}

/* Texto sobre la imagen */
.image-button-text {
    display: none;
    /* Oculto por defecto */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos adicionales para el texto sobre la imagen */
.image-button-text span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.image-button-text span:first-child {
    font-size: 20px;
}

.image-button-text span:last-child {
    font-size: 14px;
}

/* Margen superior */
.mt-5 {
    margin-top: 3rem;
}

/* Margen inferior */
.mb-4 {
    margin-bottom: 1.5rem;
}

/* Texto centrado */
.text-center {
    text-align: center;
}

/* Lista de errores */
.error-list {
    color: red;
    list-style-type: none;
    padding: 0;
}