:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Josefin Sans", sans-serif;
  --corporate-color: #CABA9F;
  --secondary-color: #A3897a;
  --background-color: #f4f1eb;
}

* {
  font-family: var(--text-font);
}

body {
  margin: 0;
  padding: 0;
}