:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Josefin Sans", sans-serif;
  --corporate-color: #CABA9F;
  --secondary-color: #A3897a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}
