@if(routine) {
<div class="routine-container">
    <div class="routine {{routine.category}}">
        <h1>{{routine.name}}</h1>
    </div>
    <div class="routineCenter">
        <div class="column-products">
            <p-table [value]="routineProducts" [tableStyle]="{'min-width': '20rem'}" selectionMode="single"
                [(selection)]="selectedProduct" styleClass="p-datatable-sm" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Productos de la rutina
                    </div>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr ngClass="filas" [pSelectableRow]="product">
                        <td><img [src]="product.image" [alt]="product.name" width="50" class="shadow-4" /></td>
                        <td>{{product.name}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                </ng-template>
            </p-table>
        </div>
        <div class="column-routine">
            <p>{{routine.description}}</p>
        </div>
    </div>
    <div class="steps">
        @for (step of routine.usesteps; track $index) {
        <span>Paso {{$index + 1}}</span>
        <p>{{step}}</p>
        }
    </div>
    <div class="steps">
        @if(userService.isLogged()){
        <custom-button [label]="isSavedLabel" (onClick)="saveRoutine()"></custom-button>
        }
        @else {
        <custom-button [label]="isSavedLabel" (onClick)="redirectLogin()"></custom-button>
        }
    </div>
    <div class="steps">
        <custom-button [label]="showFormLabel" (onClick)="toggleForm()"></custom-button>
        @if (isForm === true) {
        <review-form [routineId]="routine._id" [userId]="userId" (reviewCreated)="onReviewPosted($event)"></review-form>
        }
    </div>
    <div class="reviews-container">
        @for (review of routineReviews; track review._id) {
        <div class="review-card">
            <card-review-all [review]="review" [stars]="review.stars" [userId]="userId"
                (reviewErased)="onReviewErased($event)" (reviewEdited)="onReviewEdited($event)"></card-review-all>
        </div>
        }
    </div>
</div>

}