.body {
  background-image: url('/images/body-selfcare.jpg');
  background-position: center;
  background-size: cover;
}

.face {
  background-image: url('/images/face-selfcare.jpg');
  background-position: center;
  background-size: cover;
}

.mouth {
  background-image: url('/images/mounth-selfcare.jpg');
  background-position-y: 285px;
  background-size: cover;
}

.hair {
  background-image: url('/images/hair-selfcare.jpg');
  background-position: center;
  background-size: cover;
}

.hands {
  background-image: url('/images/hands-selfcare.jpg');
  background-position: center;
  background-size: cover;
}

.feet {
  background-image: url('/images/feet-selfcare.jpg');
  background-position: center;
  background-size: cover;
}

.beard {
  background-image: url('/images/beard-selfcare.jpg');
  background-position: center;
  background-size: cover;
}


.routine {
  height: 180px;
  text-align: center;
  align-content: center;


  & h1 {
    color: white;
    font-family: --title-font;
    font-size: 50px;
  }
}

.routine-container {
  background-color: var(--background-color);
}

.routineCenter {
  display: flex;
  margin: 20px 0;

  & .column-products {
    width: 40%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;


    & div {
      padding: 0;
      font-size: 16px;
      margin: 0;
    }

    & img.shadow-4 {
      height: 40px;
      width: 50px;
      overflow: hidden;
      object-fit: cover;
      padding: 0;
    }
  }

  & .column-routine {
    width: 60%;
    background-color: white;

    border-radius: 5px;
    margin-right: 10px;

    & p {
      padding: 30px;
    }
  }


}

.steps {
  margin: 10px;
  background-color: white;
  padding: 20px 20px;
  border-radius: 5px;

  & span {
    color: grey;
  }

  & p {
    margin-left: 20px;
  }
}

.reviews-container {
  padding: 20px 10px;
}