.card-container {
    border-radius: 0.3125rem;
    overflow: hidden;
    width: 360px;
}

.p-card-header {
    padding: 20px;
}

h4 {
    font-size: 24px;
}

.review-footer {
    & p {
        text-align: right;
    }
}

:root {
    --corporate-color: #CABA9F;
}

.ui-rating-icon {
    color: var(--corporate-color);
}

.p-rating {
    color: var(--corporate-color);
}

.p-rating-item {
    color: var(--corporate-color);
}

.p-rating-item-active {
    color: var(--corporate-color);
}

.p-rating-icon {
    color: var(--corporate-color);
}

.flex {
    display: flex;
    justify-content: space-between;
}