<div class="login-container">
  <div class="login-form">
    <h2>Iniciar sesión</h2>
    <form class="mt-5" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <span class="p-float-label">
          <input type="text" id="email" pInputText formControlName="email" required />
          <label for="email">Correo electrónico</label>
        </span>
        <div class="error">
          {{ emailError }}
        </div>
      </div>
      <div class="mb-4">
        <span class="p-float-label">
          <input type="password" id="password" pInputText formControlName="password" required />
          <label for="password">Contraseña</label>
        </span>
        <div class="error">
          {{ passwordError }}
        </div>
      </div>
      <p-button type="submit" label="Iniciar sesión" [disabled]="!isFormValid()" [outlined]="true" severity="info"></p-button>
    </form>
    <div class="register-link mt-4">
      <p>¿No tienes una cuenta? <a href="/register">Regístrate aquí</a></p>
    </div>
  </div>
</div>
