<!-- <div class="login-container">
  <div class="login-form">
    <h2>Iniciar sesión</h2>
    <form (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" required class="form-control" formControlName="email"/>

        <div class="error">
          {{ emailError }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required class="form-control" formControlName="password"/>
        <div class="error">
          {{ passwordError }}
        </div>
      </div>
      <custom-button [label]="'Inicia sesión'"></custom-button>
      <custom-button [label]="'Inicia sesión'" ></custom-button>
    </form>
  </div>
</div> -->