* {

  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.register {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: start;

  &:hover {
    cursor: pointer;
    color: var(--secondary-color)
  }
}

.login-form {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;

  & h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

#label {
  line-height: 30px;
}

button:disabled {
  background-color: #ccc;
}

.error {
  color: red;
  font-size: 12px;
}