.cards-carousel {
  margin: 0.625rem 0;

  .p-card {
    max-width: 15rem;
    min-height: 6.25rem;
    border: 0.0625rem solid var(--secondary-color);
    background-color: var(--background-color);
  }
}
