<div class="card">
    <p-carousel [value]="routines" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
      <ng-template pTemplate="item" let-routine>
        <p-card class="routine-card" [ngClass]="routine.category">
          <ng-template pTemplate="header">
            <img [alt]="routine?.category" [src]="routine?.imageUrl" class="routine-image" />
          </ng-template>
          <ng-template pTemplate="content">
            <h3>{{routine.name}}</h3>
            <p>{{routine.description}}</p>
          </ng-template>
        </p-card>
      </ng-template>
    </p-carousel>
  </div>
  