/* Estilo para la tarjeta del testimonio */
.testimonial-card {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor para centrar la imagen */
.testimonial-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/* Estilo para la imagen del testimonio */
.testimonial-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Estilo para el contenido del testimonio */
.testimonial-content {
    text-align: center;
}

/* Estilo para el bloque de cita */
blockquote {
    font-style: italic;
    border-left: 4px solid #A3897a;
    padding-left: 1rem;
    margin: 0;
    color: #CABA9F;
}