<footer>
    <div class="container">
        <!--SELFCARE-->
<div class="column" id="selfacareIntroduccion">
            <div><img src="/images/Logo_Blanco/Selfcare_Logo-11.png" id="selfcareLogo"alt="logo-selfcare">
            </div>
            <p>
                Selfcare goza de reconocimiento internacional en el sector de los cuidados personales de belleza. Esta empresa familiar ha ido creciendo hasta convertirse en un líder mundial.
            </p>
            <div class="icons">
                <ul>
                    <li>
                        <a rel="nofollow" href="#" target="_blank">
                            <img src="/images/Icons_Blanco/icons-blanco-38.png" alt="icono 1">
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#" target="_blank">
                            <img src="/images/Icons_Blanco/icons-blanco-39.png" alt="icono 2">
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#" target="_blank">
                            <img src="/images/Icons_Blanco/icons-blanco-40.png" alt="icono 3">
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#" target="_blank">
                            <img src="/images/Icons_Blanco/icons-blanco-41.png" alt="icono 4">
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#" target="_blank">
                            <img src="/images/Icons_Blanco/icons-blanco-42.png" alt="icono 5">
                        </a>
                    </li>
                </ul>
            </div>
        </div> 
         <div class="column">
            <h4>NEWSLETTER</h4>
            <p>Suscríbete a nuestro boletín de noticias</p>
            <ul class="collapse">
                <form action="#" method="post">
                    <input name="email" type="email" value="" placeholder="Su dirección de correo electrónico">
                    <input type="hidden" name="action" value="0">
                    <button type="submit" class="submit-button">
                        <img src="/images/Icons_Corporate/icons-corporate-37.png" alt="icono submit" id="flecha">
                    </button>
                    <div class="clearfix"></div>
                    <p>Puede darse de baja en cualquier momento. Para ello, consulte nuestra información de contacto en el aviso legal.</p>
                </form>
                <div class="checkbox-container">
                    <input type="checkbox" id="agree" name="agree">
                    <label for="agree" class="checkbox-label">
                        Estoy de acuerdo con las <a href="/politicas-de-privacidad" target="_blank">políticas de privacidad</a> y acepto los <a href="/terminos" target="_blank">términos incondicionalmente</a>.
                    </label>
                </div>
            </ul>
        </div>
        <!--NOSOTROS-->
        <div class="column2">
            <h4>NOSOTROS</h4>
            <ul>
                <li><a href="#">Historia</a></li>
                <li><a href="#">Calidad y Evolución</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
            </ul>
        </div>
        <!--INFORMACIÓN-->
        <div class="column2">
            <h4>INFORMACIÓN</h4>
            <ul>
                <li><a href="#">Envíos y devoluciones</a></li>
                <li><a href="#">Cómo comprar</a></li>
                <li><a href="#">Condiciones de uso </a></li>
                <li><a href="#">Contacto </a></li>
                <li><a href="#">Sitemap </a></li>
            </ul>
        </div>
        <!--MI CUENTA-->
        <div class="column2">
            <h4>MI CUENTA</h4>
            <ul>
                <li><a href="#">Iniciar Sesión</a></li>
                <li><a href="#">Crear Cuenta</a></li>
            </ul>
        </div>
    </div>
        
    <!-- Sección de copyright y enlaces legales -->
    <div class="footer">
        <p>Copyright © 2024 Selfcare 
            <span class="legal-links">
                <a href="#">AVISO LEGAL | </a> 
                <a href="#">PRIVACIDAD  | </a> 
                <a href="#">COOKIES</a>
            </span>
        </p>
    </div>
</footer>


