/* Estilos generales para el footer */
footer {
    background-color: #262626;
}

.container {
    background-color: #262626;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

/* Estilos para cada columna */
.column {
    flex: 1;
    margin: 0 -5px;
    padding: 0;
    min-width: 0;
    margin-left: 30px;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
}

/* Estilo para los enlaces en el footer */
footer a, .legal-links a {
    color: #fff;
    text-decoration: none;
}

footer a:hover, .legal-links a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0;
    display: flex;
    align-items: center;
}

.legal-links {
    margin-left: 10px;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.icons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.icons a svg {
    fill: #fff;
}

.icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.icons li {
    margin-right: 10px;
}

.icons li:last-child {
    margin-right: 0;
}

.icons a {
    display: block;
    text-decoration: none;
}
/* Estilos generales para el botón de envío */
.submit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.submit-button svg {
    fill: #fff; 
    transition: fill 0.3s ease;
}

.submit-button:hover svg {
    fill: #ccc; 
}
.submit-button {
    width: 30px;
    height: 30px;
}

.submit-button svg {
    width: 24px;
    height: 24px;
}
