footer {
  background-color: var(--secondary-color);
  color: var(--background-color);
  margin: 0;

  & li {
    list-style: none;
  }

  & a {
    color: var(--background-color);
    text-decoration: none;
  }
}

.footer-container {
  display: flex;
}

.column {
  & img {
    display: inline-block;
    height: 5rem;
  }
}

.icons {
  display: flex;

  & img {
    display: inline-block;
    height: 2rem;
    cursor: pointer;
  }
}
