<header>
  <nav>
    <div class="logo">
      <img src="images/Logo_Blanco/Selfcare_Logo-12.png" alt="selfcare" (click)="onClickHome()">
    </div>
    <ul>
      <li [routerLink]="['/routines']" routerLinkActive="activo">RUTINAS</li>
      <li [routerLink]="['/products']" routerLinkActive="activo">PRODUCTOS</li>
      @if(userService.isAdmin()){
      <li [routerLink]="['/productform']" routerLinkActive="activo">AGREGAR PRODUCTO</li>
      <li [routerLink]="['/users']" routerLinkActive="activo">USUARIOS</li>
      }
    </ul>
  </nav>
  <div class='headerflex headerdiv'>
    @if(userService.isLogged()){
    <img
      [src]="user?.image || 'https://res.cloudinary.com/dk2lcfwx5/image/upload/v1724322871/users/ltcagpxild7fzreyw7o0.jpg'"
      [alt]="user?.name || 'username'" (click)="onClickUser()" />
    <p-button type="submit" label="Cerrar Sesión" severity="danger" (click)="onClickLogout()" />
    }@else{
    <custom-button [label]="'Iniciar Sesión'" (click)="onClickLogin()" />
    }
  </div>
</header>