<header>
  <nav>
    <div class="logo">
      <img src="images/Logo_Blanco/Selfcare_Logo-12.png" alt="selfcare">
    </div>
    <ul>
      <li [routerLink]="['/routines']" routerLinkActive="activo">Rutinas</li>
      <li [routerLink]="['/products']" routerLinkActive="activo">Productos</li>
    </ul>
  </nav>
  <div class='flex headerdiv'>
    @if(userService.isLogged()){
    <img
      [src]="user?.image || 'https://res.cloudinary.com/dk2lcfwx5/image/upload/v1724322871/users/ltcagpxild7fzreyw7o0.jpg'"
      [alt]="user?.name || 'username'" (onClick)="onClickUser()" />
    <custom-button [label]="'Logout'" (onClick)="onClickLogout()" />
    }@else{
    <custom-button [label]="'Login'" (onClick)="onClickLogin()" />
    }
  </div>
</header>