 
  body {
    font-family: var(--text-font);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center; /* Centra el texto */
    font-size: 3rem; /* Tamaño de fuente acorde a un título */
    color: var(--corporate-color); /* Usa el color corporativo */
    margin-bottom: 20px; /* Añade espacio inferior para separar el título del carrusel */
    font-family: var(--title-font); /* Usa la fuente específica para títulos */
    font-weight: 600; /* Fuente con un grosor medio */
    letter-spacing: 2px; /* Espacio entre las letras para darle más estilo */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
  }
  
  p-carousel {
    width: 90%;
    margin: 0 auto;
  }
  
  .colaboracion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajusta la altura de la tarjeta */
    width: 100%; /* Asegura que la tarjeta ocupe el 100% del contenedor */
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .colaboracion-image {
    max-width: 80%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 80%; /* Ajusta el tamaño máximo de la imagen */
    object-fit: contain; /* Ajusta la imagen para que se ajuste sin distorsión */
    border-radius: 10px;
  }
  
  .p-carousel .p-carousel-content .p-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .p-carousel .p-carousel-indicators .p-carousel-indicator {
    background-color: var(--secondary-color);
  }
  