@if(product) {

<div class="product-container">
    <div class="product-header">
        <h1>{{ product.name }}</h1>
        <h3>{{ product.brand }}</h3>
        <h4>{{ product.category }}</h4>
    </div>

    <div class="product-image">
        <p-image src="{{ product.image }}" alt="{{ product.name }}"></p-image>
    </div>

    <div class="product-details">
        <p-card>
            <p class="m-0">
                {{ product.properties }}
            </p>
        </p-card>
    </div>

    <div class="product-actions">
        <a [href]="product.shoplink" target="_blank" rel="noopener noreferrer">
            <p-button icon="pi pi-shopping-cart" label="Comprar" class="p-button-success"></p-button>
        </a>
    </div>
</div>
}