<div class="routines-container">
    <h1 class="page-title">Products</h1>

    <div class="toolbar">

        <!--  <p-button icon="pi pi-plus" label="Add Routine" class="p-button-success"></p-button>
      <p-inputText placeholder="Search routines..." (input)="onSearch($event)" class="search-bar"></p-inputText> -->
    </div>


    <div class="products-grid">
        <div class="product-card">
            @for( prod of products; track prod._id){
            <card-product-all [product]="prod"></card-product-all>


            }
        </div>
    </div>


    <p-paginator [rows]="itemsPerPage" [totalRecords]="totalPages * itemsPerPage" (onPageChange)="onPageChange($event)"
        class="paginator-custom">
    </p-paginator>
</div>