.card-container {
    border-radius: 0.3125rem;
    overflow: hidden;
    width: 200px;
}

.p-card-header {
    overflow: hidden;
}

img {
    /* border-radius: 8px; */
    width: 70px;
    height: 90px;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.p-card {
    height: 300px;
    width: 400px;
}

.p {
    font-family: var(--text-font);
    text-align: center;
}

.p-card-header {
    overflow: hidden;
    padding: 20px;
    text-align: center;
}