<p-card class="card-container" id={{product?._id}} [header]="product?.name" [subheader]="product?.brand">
    <ng-template pTemplate="header">
        <img alt={{product?.name}} src={{product?.image}} />
    </ng-template>
    <ng-template pTemplate="footer">
        <p>Categoría: {{product?.category}}</p>
        <p>Enlace de compra: {{product?.shoplink}}</p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Guardar" severity="secondary" class="w-full" styleClass="w-full" />
                <p-button label="Ver detalle" class="w-full ms-2" styleClass="w-full" />
            </div>
        </ng-template>
    </ng-template>
</p-card>