<p-card class="card-container" id={{product?._id}} [header]="product?.name" [subheader]="product?.brand">
  <div class="header-product">
    <img class="img-products" alt={{product?.name}} src={{product?.image}} />
  </div>

  <ng-template pTemplate="footer">
    <p>Enlace de compra: <a [href]="getFormattedLink(product?.shoplink)" target="_blank"
        rel="noopener noreferrer">Compra aquí</a>

    <div class="flex gap-3 mt-1">
      <custom-button label="Ver detalle" class="w-full ms-2" (onClick)="onViewMore()"></custom-button>
    </div>
  </ng-template>

</p-card>