<p-card class="card-container" [id]="review?._id" [header]="review?.title">
  <ng-template pTemplate="header">
    <p-rating [formControl]="starsControl" [cancel]="false" [stars]="5" />
  </ng-template>
  <ng-template pTemplate="body">
    <p>{{review?.description}}</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>{{review?.author}}</p>
    <p>{{review?.date}}</p>
    <div class="flex gap-3 mt-1">
      <!-- @if(isLogged){ -->
      <p-button label="Editar" severity="warning" class="w-full" styleClass="w-full" />
      <p-button label="Borrar" severity="danger" class="w-full" styleClass="w-full" (onClick)="onErase(review?._id)" />
      <!-- @if(isAdmin){ -->
      <p-button label="Ocultar" severity="secondary" class="w-full" styleClass="w-full" />
    </div>
  </ng-template>
</p-card>