.card-container {
  border-radius: 0.3125rem;
  overflow: hidden;
  width: 12.5rem;
}

.p-card {
  min-height: 25rem;
  background-color: var(--background-color);
  padding: 0.3125rem;
  border: 0.0625rem solid var(--secondary-color);
}

.p-card .p-card-title {
  font-size: 1rem;
}

.p-card .p-card-subtitle {
  font-size: 0.8rem;
}

.p-card-content {
  display: none;
}

img {
  display: block;
  height: 100%;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  object-fit: contain;
  overflow: hidden;
}
