<div class="review-form-container">
    @if(!review){
    <h2>Introduce tu reseña</h2>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Título</label>
            <input id="title" type="text" pInputText formControlName="title"
                placeholder="Introducir el título de la reseña" />
        </div>

        <div class="form-group">
            <label for="stars">Calificación</label>
            <p-rating id="stars" [formControl]="starsControl" [cancel]="false" [stars]="5"></p-rating>
        </div>

        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea id="description" pInputTextarea rows="4" formControlName="description"
                placeholder="Escribe tu opinión"></textarea>
        </div>

        <div class="form-group">
            <custom-button [label]="'Enviar'" type="submit" />
        </div>
    </form>
    }
    @else {
    <h2>Edita tu reseña</h2>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmitEdit()">
        <div class="form-group">
            <label for="title">Título</label>
            <input id="title" type="text" pInputText formControlName="title" [(ngModel)]="review.title" />
        </div>

        <div class="form-group">
            <label for="stars">Calificación</label>
            <p-rating id="stars" [formControl]="starsControl" [cancel]="false" [stars]="5"
                [(ngModel)]="review.stars"></p-rating>
        </div>

        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea id="description" pInputTextarea rows="4" formControlName="description"
                [(ngModel)]=" review.description"></textarea>
        </div>

        <div class="form-group">
            <custom-button [label]="'Confirmar'" type="submit" />
        </div>
    </form>
    }
</div>