<form class="mt-5" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-4">
        <p-floatLabel>
            <input type="text" id="inputName" pInputText formControlName="name">
            <label for="inputName">Nombre</label>
        </p-floatLabel>
    </div>
    <div class="mb-4">
        <p-floatLabel>
            <input type="email" id="inputEmail" pInputText formControlName="email">
            <label for="inputBrand">Email</label>
        </p-floatLabel>
    </div>
    <!--  <div class="mb-4">
        <p-dropdown [options]="category" optionLabel="name" placeholder="Selecciona la categoría"
            formControlName="category"></p-dropdown>
    </div> -->
    <div class="mb-4">
        <p-floatLabel>
            <input type="password" id="inputPassword" pInputText formControlName="password">
            <label for="inputProperties">Password</label>
        </p-floatLabel>
    </div>
    <div class="mb-4">
        <p-floatLabel>
            <input type="text" id="inputAbout" pInputText formControlName="about">
            <label for="inputAbout">About</label>
        </p-floatLabel>
    </div>
    <div class="mb-4">
        <p-floatLabel>
            <input type="text" id="inputLocation" pInputText formControlName="location">
            <label for="inputLocation">Location</label>
        </p-floatLabel>
    </div>
    <div class="image-button">
        <input type="file" #filePicker (change)="onUpload($event)">
        <!--  <p-fileUpload mode="basic" chooseLabel="Image" chooseIcon="fa-solid fa-arrow-up-from-bracket" name="image"
            accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)" /> -->
    </div>
    <p-button type="submit" label="Enviar" [outlined]="true" severity="info" />

</form>

<ul>
    @for(err of errores; track $index){
    <li>{{err.message}}</li>
    }
</ul>