.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.register-form {
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;

    & h2 {
        text-align: center;

    }
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.image-button {
    margin-bottom: 20px;
}