<p-card class="card-container" id={{user?._id}} [header]="user?.name">
  <ng-template pTemplate="header">
    <img alt={{user?.name}} src={{user?.image}} />
    <p-card class="card-container">
      <p><strong>Nombre:</strong> {{user?.name}}</p>
      <p><strong>Emiail:</strong> {{user?.email}}</p>
      <p><strong>Contraseña:</strong> {{user?.password}}</p>
      <p><strong>Ubicación:</strong> {{user?.location}}</p>
      <div class="flex gap-3 mt-1">
        <p-button label="Editar" severity="secondary" class="w-full" styleClass="w-full" (click)="onClickEdit()" />
        <p-button label="Eliminar" severity="danger" class="w-full" styleClass="w-full" (click)="onClickDelete()" />
      </div>
    </p-card>
  </ng-template>
  <ng-template pTemplate="body">
    <p-card class="card-container">
      <p><strong>Sobre ti:</strong></p>
      <p>{{user?.about}}</p>
    </p-card>
    <!-- map user.routines-->
    <card-routine-all></card-routine-all>
  </ng-template>
  <ng-template pTemplate="footer">
    <p><strong></strong>Tus Opiniones:</p>
    <!-- map reviews if author === user-->
    <card-review-all-buttons></card-review-all-buttons>
    <ng-template pTemplate="footer">
    </ng-template>
  </ng-template>
</p-card>